* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  line-height: 38px;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
}

h2 {
  font-size: 30px;
  line-height: 32px;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}
h3 {
  font-size: 20px;
  line-height: 26px;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 18px;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 200;
}

.header {
  text-align: left;
  padding: 15px;
  background-color: #eeee;
  width: 100%;
}

.wrapper {
  min-height: calc(100vh - 70px);
  width: 100%;
  position: relative;
}

.navigationDesktop {
  background: #022631;
}

nav {
  height: 40px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  text-transform: uppercase;
}

nav a {
  display: block;
  color: #f0f1f5;
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 13pt;
}

nav a:hover {
  background: #223433;
  color: #f0f1f5;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background: #022631;
}

nav ul ul li {
  position: relative;
  display: none;
}

nav ul ul ul {
  display: none;
}

nav ul li:hover ul li {
  display: block;
  animation: navmenu 500ms forwards;
}

nav ul ul li:hover ul {
  display: block;
  position: absolute;
  justify-content: space-evenly;
  width: 140px;
  left: 140px;
  top: 0px;
}

body{
  margin: 0;
  font-family: "Inter", sans-serif;
}

.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../assets/mountains.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1{
  font-size: 5em;
  margin-top: 0%;
  margin-bottom: .5em;
}

.clear {
  height: 100px;
}

.footer {
  text-align: center;
  padding: 30px;
  background-color: #eeee;
  width: 100%;
}

#share-bar {
  display: block;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}

.sharing-providers {
  list-style-type: none;
}

.sharing-providers {
  padding: 0;
  margin: 0;
}

.sharing-providers>li {
  display: block;
  text-align: center;
  width: 45px;
  height: 45px;
  padding: 0;
  margin: 0;
  background: #777777;
  transition: 0.5s all;
}

.sharing-providers.circle>li {
  border-radius: 50%;
  margin: 2px;
}

#share-bar.left {
  left: 0;
}

#share-bar.left .sharing-providers>li {
  margin-left: 0;
}

#share-bar.right {
  right: 0;
}

#share-bar.right .sharing-providers>li {
  margin-right: 0;
}

.sharing-providers>li>a {
  text-decoration: none !important;
  font-family: 'FontAwesome';
  width: 45px;
  height: 45px;
  line-height: 45px;
  display: block;
}

.sharing-providers.circle>li>a {
  border-radius: 50%;
}

.sharing-providers>li>a {
  color: white;
  font-size: 25px;
}

.sharing-providers>li>a,
.sharing-providers>li>a:hover {
  text-decoration: none;
}

#share-bar.animate .sharing-providers>li:hover {
  transform: translateX(5px);
}

#share-bar.right.animate .sharing-providers>li:hover {
  transform: translateX(-5px);
}

.sharing-providers>li.facebook:hover {
  background: #4267B2;
}

.sharing-providers>li.twitter:hover {
  background: #1DA1F2;
}

.sharing-providers>li.linkedin:hover {
  background: #0077B5;
}

@media (max-width: 680px) {
  #share-bar {
    bottom: 0;
    top: auto;
    transform: translate(-50%, 0);
    left: 50% !important;
    right: auto;
    background: white;
    width: 100%;
    text-align: center;
    padding: 8px;
  }

  #share-bar .sharing-providers>li {
    display: inline-block;
  }

  #share-bar.animate .sharing-providers>li:hover {
    transform: translateX(0px) !important;
    transform: translateY(-5px) !important;
  }
}

/* Small Breakpoints*/
@media (min-width: 640px) {
  .card {
    grid-column: span 12 / span 12;
    height: 23rem;
  }
}

/*Medium reakpoints*/
@media (min-width: 768px) {}

/*Large breakpoints*/
@media (min-width: 1024px) {
  .card {
    grid-column: span 12 / span 12;
    height: 23rem;
  }
}